<ion-content padding>
  <div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-input
          type="text"
          name="username"
          placeholder="Username"
          class="input"
          formControlName="username"
          [class.invalid]="
            !loginForm.controls.username.valid &&
            loginForm.controls.username.dirty
          "
        ></ion-input>
      </ion-item>
      <ion-item
        *ngIf="
          !loginForm.controls.username.valid &&
          loginForm.controls.username.dirty
        "
      >
        <p class="invalid-feedback">Please enter a valid name.</p>
      </ion-item>

      <ion-item margin-top>
        <ion-input
          type="password"
          name="password"
          formControlName="password"
          placeholder="Password"
          [class.invalid]="
            !loginForm.controls.password.valid &&
            loginForm.controls.password.dirty
          "
        ></ion-input>
      </ion-item>
      <ion-item
        *ngIf="
          !loginForm.controls.password.valid &&
          loginForm.controls.password.dirty
        "
      >
        <p class="invalid-feedback">Please enter a valid password.</p>
      </ion-item>
      <ion-item>
        <ion-buttons center class="mb-1" margin-top>
          <button type="submit" ion-button block>
            Login
          </button>
        </ion-buttons>
      </ion-item>
    </form>
  </div>
</ion-content>
