page-profile {
  .user-media {
    margin-top: 20px;

    padding: 20px;
  }

  .profile {
    padding-top: 50px;
    background-color: #e57373;
    height: 230px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    &-bio {
      text-align: center;
      h2 {
        color: #fff;
        font-size: 27px;
        margin: 0;
      }
      p {
        color: #fff;
        font-size: 16px;
      }
    }

    &-dashboard {
      display: flex;
      justify-content: center;
      align-content: center;
    }

    &-avatar {
      padding-top: 30px;
      padding-bottom: 30px;
      display: flex;
      align-content: center;
      justify-content: center;
      img {
        /* make a square container */
        width: 180px;
        height: 180px;
        object-fit: cover;
        /* fill the container, preserving aspect ratio, and cropping to fit */
        background-size: cover;
        /* center the image vertically and horizontally */
        background-position: top center;
        /* round the edges to a circle with border radius 1/2 container size */
        border-radius: 50%;
      }
    }
  }
}
.item .item-block .item-md {
  background-color: #e57373;
}

.list-ios > .item-block:first-child {
}
