page-profile {
  .profile {
    background-color: #e57373;

    &-bio {
      text-align: center;
      h2 {
        color: #fff;
        font-size: 24px;
        margin: 0;
      }
      p {
        color: #ddd;
        font-size: 16px;
      }
    }

    &-dashboard {
      .list .list-md {
        background-color: #e57373;
      }
    }

    &-avatar {
      padding-top: 30px;
      padding-bottom: 30px;
      display: flex;
      align-content: center;
      justify-content: center;
      img {
        /* make a square container */
        width: 180px;
        height: 180px;
        object-fit: cover;
        /* fill the container, preserving aspect ratio, and cropping to fit */
        background-size: cover;
        /* center the image vertically and horizontally */
        background-position: top center;
        /* round the edges to a circle with border radius 1/2 container size */
        border-radius: 50%;
      }
    }
  }
}
.item .item-block .item-md {
  background-color: #e57373;
}

.list-ios > .item-block:first-child {
}
