<div class="card-wrapper">
  <div class="top-row">
    <div class="top-user-info">
      <div class="top-avatar">
        <img
          src="https://cdn0.iconfinder.com/data/icons/avatars-3/512/avatar_beanie_girl-512.png"
          alt=""
        />
      </div>
      <div class="top-username">
        <p>Jeanny Williams</p>
      </div>
    </div>
    <div class="top-date">
      <span>23.02.2019</span>
    </div>
  </div>

  <div class="bottom-row">
    <p class="bottom-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quidem
      tempore tempora molestiae voluptas fugit rem error ea eos autem
      exercitationem aliquid consequuntur impedit quam, cum cumque sequi saepe
      earum.
    </p>
  </div>
</div>
