h2 {
  font-size: 21px;
}

card-recipe {
  .col {
    display: flex;
    justify-content: center;
  }

  .card-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    margin: 2px 0;

    .top {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 5px 30px 5px 30px;
      &-avatar {
        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          background-color: #fff;
          border-radius: 50%;
        }
      }
      &-username {
        margin-left: 15px;
        font-size: 15px;
        color: #6a6969;
      }
    }

    .middle {
      img {
        width: 100%;
        max-height: 220px;
        object-fit: cover;
      }
    }

    .bottom {
      display: flex;
      flex-direction: column;

      &-title {
        color: #6a6969;
        padding: 10px 30px 10px 30px;
        text-align: center;
        h2 {
          margin: 0;
          font-size: 21px;
        }
      }
      &-stats {
        border-top: 1px solid #ddd;
      }
    }
  }
}
