<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="commentsList"
      >{{ (comments$ | async).length }} Comment(s)</ion-title
    >
  </ion-navbar>
</ion-header>
<!-- FIXME: add beautiful input files -->
<ion-content>
  <form #f="ngForm" (submit)="addComment(f)">
    <ion-item>
      <ion-input
        type="text"
        name="comment"
        placeholder="Input comment"
        ngModel
        name="comment"
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <button ion-button type="submit">Submit</button>
    </ion-item>
  </form>

  <card-comment
    *ngFor="let comment of (comments$ | async | reverse)"
    [comment]="comment"
    (delComment)="deleteComment($event)"
  ></card-comment>
</ion-content>
